@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');
@keyframes move_input {
  from {
    left: 0;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
@keyframes stick_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 225, 225);
  background-size: cover;
  background-repeat: repeat-y;
}
.container {
  margin: 0 auto;
  width: 1170px;
  margin-bottom: 60px;
  position: relative;
  .title {
    font-family: 'Road Rage', cursive;
    position: absolute;
    font-size: 100px;
    top: 300px;
    opacity: 0;
    transition: opacity 200ms linear;
  }

  .visible {
    opacity: 1;
  }
}

.search-form {
  display: inline;
  input {
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .button {
    margin-left: 10px;
    border: none;
    box-shadow: 1px 1px 4px 2px #000;
    border-radius: 20px;
    padding: 6px 25px;
  }
  .botton:hover {
    box-shadow: inset 1px 1px 4px 2px #000;
  }
  .input {
    position: relative;
    // left: 0;
    opacity: 1;
    // transition: opacity 250ms linear, width 250ms linear, left 250ms linear;
    width: 300px;
  }

  .input-position {
    position: fixed;
    z-index: 2;
    // left: 50%;
    width: 100px;
    opacity: 0.3;
    transition: width 300ms linear, opacity 300ms linear;
    animation-name: move_input;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 300ms;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    // transform: translateX(-50%);
  }
  .input-position:hover {
    width: 300px;
    opacity: 1;
  }

  .bottom-position {
    z-index: 4;
    border: none;
    box-shadow: 1px 1px 4px 2px #000;
    border-radius: 20px;
    padding: 6px 25px;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
}
.invisible {
  opacity: 0;
  // transition: opacity 250ms linear;
}
.on-load {
  opacity: 1;
  // top: -30px;
}
.gallery {
  z-index: 1;
  width: 100%;
  display: -ms-grid;
  display: grid;
  // justify-items: start;

  grid-template-columns: 1fr 1fr 1fr;
  // grid-auto-flow: row;
  align-items: start;
  row-gap: 20px;
  column-gap: 20px;
  // -ms-grid-column: 30% 30% 30%;
  // grid-column: 30% 30% 30%;

  // flex-direction: row;
  // flex-wrap: wrap;
  // margin-top: 10px;
}
.gallery__item {
  border-radius: 5px;
  background-size: contain;
  .img-size {
    height: auto;
    border-radius: 15px;
    box-shadow: 1px 1px 7px 2px #000;
    border: none;
  }
  // display: inline;
  // grid-row-start: 1;
  // grid-row-end: 2;
  // grid-column-start: 1;
  // grid-column-end: 2;

  // width: calc((100% - 60px) / 3);
  // &:not(:nth-child(3n + 3)) {
  //   margin-right: 30px;
  // }
  // &:not(:nth-last-child(-n + 3)) {
  //   margin-bottom: 30px;
  // }
}
.material-icons,
.stats-item {
  color: rgba($color: #fff, $alpha: 0.5);
  transition: color 250ms linear;
  .link {
    color: inherit;
    text-decoration: none;
  }
  .link:hover {
    color: rgba(#fff, 1);

    text-decoration: underline;
  }
}
.material-icons {
  margin-right: 5px;
}
.stats-item:hover .material-icons {
  cursor: pointer;
  color: rgba($color: #fff, $alpha: 1);
}
.photo-card {
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    // height: 200px;
  }
}

.stats {
  display: flex;
  position: absolute;
  transform: translateY(calc(-100% - 10px));
  width: calc(100% - 20px);
  background-color: rgba($color: #000, $alpha: 0.3);
  padding: 10px;
  .stats-item {
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
